.top {
width; 100%
}

.header {
background-color: black;
left: 0;
right: 0;
margin-left: -0.6em;
margin-right: -0.5em;
min-height: 100%;
padding: 0.5em;
padding-left: 2em;
color: white;
display: grid;
grid-template-columns: 80% 20%;
}

.navigation {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 1em;
align-content: center;
justify-items: end;
padding: 2em;
}

.content {
padding: 2em;
}

.children {
padding: 1em;
}

.child-folder, .child-document {
margin-top: 1em;
}

.folder-link {
margin-left: 10px;
}

.nav-item > a, .nav-item > a:hover, .nav-item > a:active, .nav-item a:visited { color: white; }

th {
text-align: left;
padding: 0.5em;
border-bottom: 1px dashed gray;
}

td {
padding: 1em;
}
