<!DOCTYPE html>
<html>
<head>
  <title>Repositext - Light CMS</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  <div class="wrapper">

    <div class="top">
      <div class="header">
        <div class="display-name">
          <h1>Repositext</h1>
        </div>
        <div class="navigation">
          <div class="nav-item">
            <a href="">
              Profile
            </a>
          </div>
          <div class="nav-item">
            <a href="/admin/">
              Admin
            </a>
          </div>
          <div class="nav-item">
            <a href="">
              About
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="content">

      <div class="doc-view">
        
        <div class="doc-view-title">
          <h2>Dashboard</h2>
        </div>

        <div class="repository">
          <h4>
            <a href="{% url 'root-view' %}">
              Repository
            </a>
          </h4>
        </div>

        <div class="created-docs">
          <h4>
            Recently Added Documents
          </h4>

          <table>
          {% for doc in recent_docs %}
            <tr>
              <td>{{ doc.name }}</td>
              <td>created by {{ doc.owner }}</td>
              <td>at {{ doc.created }}</td>
              <td>
                in folder 
                <a href="{% url 'repo-view' doc.parent.id %}">
                  {{ doc.parent }}
                </a>
              </td>
            </tr>
          {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>