<!DOCTYPE html>
<html>
<head>
  <title>Repositext - Light CMS</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
  <div class="wrapper">

    <div class="top">
      <div class="header">
        <div class="display-name">
          <h1>Repositext</h1>
        </div>
        <div class="navigation">
          <div class="nav-item">
            <a href="">
              Profile
            </a>
          </div>
          <div class="nav-item">
            <a href="/admin/">
              Admin
            </a>
          </div>
          <div class="nav-item">
            <a href="">
              About
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="content">

      <div class="doc-view">
        
        <h4>
          <a href="{% url 'index-view' %}">
            Dashboard
          </a>
        </h4>

        <div class="doc-view-title">
          <h2>Repository</h2>
        </div>

        <div class="root-folder">
          <p>
            <span class="folder-link">
              <a href="{% url 'repo-view' top_folder.id %}">
                {{ top_folder.name }}
              </a>
            </span>

            <span class="folder-link">
              {% if top_folder.parent %}
                <a href="{% url 'repo-view' top_folder.parent.id %}">
                  BACK
                </a>
              {% endif %}
            </span>
          </p>
          <table>
            <tr>
                <th>
                  Description
                </th>
                <th>
                  Owner
                </th>
                <th>
                  Created
                </th>
                <th>
                  Modified
                </th>
              </tr>
            <tr>
              <td>{{ top_folder.description }}</td>
              <td>{{ top_folder.owner }}</td>
              <td>{{ top_folder.created }}</td>
              <td>{{ top_folder.modified }}</td>
            </tr>
          </table>
        </div>
        <div class="children">
          <h3>Folders</h3>
          <table class="child-folder">
          {% for folder in child_folders %}
              <tr>
                <th>
                </th>
                <th>
                  Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Owner
                </th>
                <th>
                  Created
                </th>
                <th>
                  Modified
                </th>
              </tr>
              <tr>
                <td>
                  <img src="/static/img/icons/folder.svg" />
                </td>
                <td>
                  <a href="{% url 'repo-view' folder.id %}">
                    {{ folder.name }}
                  </a>
                </td>
                <td>{{ folder.description }}</td>
                <td>{{ folder.owner }}</td>
                <td>{{ folder.created }}</td>
                <td>{{ folder.modified }}
              </tr>
            
          {% empty %}
            <tr><td>No Folder</td></tr>
          {% endfor %}
          </table>
          <h3>Documents</h3>
          <table class="child-document">
          {% for document in child_documents %}
              <tr>
                <th>
                </th>
                <th>
                  Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Owner
                </th>
                <th>
                  Created
                </th>
                <th>
                  Modified
                </th>
              </tr>
              <tr>
                <td><img src="/static/img/icons/file.svg" /></td>
                <td>{{ document.name }}</td>
                <td>{{ document.description }}</td>
                <td>{{ document.owner }}</td>
                <td>{{ document.created }}</td>
                <td>{{ document.modified }}
              </tr>
            {% empty %}
                <tr><td>No Document</td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>